@import url('https://fonts.googleapis.com/css?family=Poppins');

.lista-produtos h2{
  margin: 45px 0px 15px 0px;
  font-family:'Poppins', sans-serif;
  font-size: 35pt;
  padding-left: 10px;
  border-bottom: solid 1pt rgb(0, 0, 0);
  border-left: solid 2pt rgb(0, 0, 0);
  
}

.flex-container{
  display: flex;
  flex-direction: row;
  height: 250px;
  margin: 75px 10px;
}

#photo{
  display: flex;
  border: solid 1.5px rgb(163, 163, 163);
  width: auto;
  height: 250px;
  width: 230px;
}

.flex{
  flex-direction: column;
}


strong, p, h4{
  font-family:'Poppins', sans-serif;
}

#name{
  border-bottom: solid 2pt;

  font-size: 18pt;
  margin: 15px;
  font-family:'Poppins', sans-serif;
}



#skuname{
  font-size: 11pt;
  color: rgb(161, 161, 161);
  margin-bottom: 60px;
}

#price{
  margin-top: 100px;
  font-size: 17pt;
}

#btn {
  cursor:pointer;
  text-decoration: none;
  background-color: rgb(83, 130, 218);
  border-radius: 3px;
  font-weight: bold;
  color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
  outline: none;
  padding: 8px;
  align-items: center;
  border: none;
  font-size: 11pt;
  margin-left: 20px;
}

#frete-gratis{
  margin-left: 10px;
}


